<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <!-- header start -->
    {{ partial "header.html" . }}
    <!-- header end -->
    <!-- main area start   -->
    <main class="container px-16 py-8 flex items-center justify-center">
        <section class="w-1/3">
            <img class src="./assets/img/Rectangle13.png" alt="">
        </section>
        <section class="w-2/3 ml-6 mr-60">
            <h1 class="text-dark text-6xl relative">Privacy Policy</h1>
            
        </section>
    </main>
    <!-- main area end   -->

    <article class="container text-center px-16 pt-8 pb-32">
        <section>
            <p class="py-3 text-lg">
                The world is full of mysteries and I have always believed in this even as a child. As I grew, life
                became
                a bit overwhelming and I was desperately in need to make sense of all that was happening around me.
            </p>
            <p class="py-3 text-lg">
                It was in my quest for self-discovery that I learned a few truths about life and the world in general. I
                began to learn about shocking facts that many people seem to ignore.
            </p>
            <p class="py-3 text-lg">
                It all changed for me the day I discovered numerology. While it was not easy to accept that I wasn’t
                kidding myself by believing a few random numbers meant anything more than what they were supposed to, I
                soon began to see the truths and effectiveness of the knowledge I gained from this illuminating journey.
            </p>

            <p class="py-3 text-lg">
                Although I’d like to believe I’m still a work in progress, I know that I am no longer clueless about
                life or how to navigate my way through. I am more in sync with the positive spiritual energies present
                in the world and aware of what the universe requires of me.
            </p>



            <p class="py-3 text-lg">
                When my angels speak, I understand. When the ascended masters and other spiritual authorities try to
                guide and direct me, I listen to their instructions and follow diligently.
            </p>

            <h3 class="py-3 text-3xl font-bold">
                Why this Website
            </h3>

            <p class="py-3 text-lg">
                It was after I saw my life took a massive turn for the better that I decided the only way I could say a
                proper thank you to the universe was to help other people who are searching for answers and a comforting
                voice to tell them someone out there is looking out for them and willing to help.
            </p>
            <p class="py-3 text-lg">
                Numbers are the language through which the divine tries to speak to us. Unless we understand this
                language, we’ll be unable to confirm the truths communicated to us..
            </p>
            <p class="py-3 text-lg">
                My mission is to help people understand the mysteries and messages the divine or the universe is trying
                to tell us by revealing the meanings of numbers, letters, and symbols we see in our everyday life.
            </p>
            <p class="py-3 text-lg">
                I believe that these numerological revelations can help people around the world in the same way they
                have helped me. My faith is firmly built on my success story, and this has given me the strength to help
                enlighten others and shed light on the mysteries upon which their happiness and fulfillment lies.
            </p>

            <h3 class="py-3 text-3xl font-bold">
                My Vision
            </h3>
            <p class="py-3 text-lg">
                I want to live in a world where people are not clueless about how to get their life on track. I want
                people
                to become more aware of the spiritual activities and the true meaning of the symbols, numbers, and
                letters
                around them.
            </p>
            <p class="py-3 text-lg">
                Every day, our angels and other spiritual beings are trying to speak to us. They want to tell us what to
                do
                and what not to do.
            </p>
            <p class="py-3 text-lg">
                If all of humanity can understand and do exactly as the universe is telling us to, the world will be a
                better place to live in. Friendships will be stronger, relationships will blossom, and mistakes will be
                few
                and far in between.
            </p>
            <p class="py-3 text-lg">
                Eventually, everyone would be able to live in a safe, healthy world.
            </p>
        </section>
        <section class="container m-5 mt-10 px-10 py-10 bg-lightviolet bg-opacity-10 rounded-lg">
            <h1 class="px-48 text-2xl text-dark">Unlock the messages hidden in your Personality Code now with your FREE
                personalized
                video report.</h1>
            <section class="flex items-center justify-center">
                <button class="flex bg-danger  text-primary font-medium mt-4 mr-2 px-5 py-2 rounded">Book A
                    Session</button>
            </section>
        </section>
    </article>

    <!-- contact area start  -->
    <section class="bg-main bg-cover bg-center bg-no-repeat py-24 px-72 text-white font-futurapt text-center"
        style="background-image: url(./assets/img/Frame16.png);">
        {{ partial "action.html" . }}
    </section>
    <!-- contact area end  -->


    <!-- footer area start -->
    {{ partial "footer.html" . }}
    <!-- footer area end -->

</body>

</html>