<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="shortcut icon" href="./assets/img/Imaginova-Logo 1.png" type="image/x-icon">
</head>

<body>
    <!-- header area start -->
    <header>
        <nav class="flex items-center justify-between bg-secondary text-primary text-xl h-32 px-32 font-futurapt">
            <!-- contact mail and search -->
            <a href="" class="relative">contact@imaginova.com
                <span class="absolute text-primary inset-y-0 -right-12 flex items-center pl-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </span>
            </a>
            <!-- logo -->
            <a href="#home">
                <img class="h-24" src="./assets/img/Imaginova-Logo 1.png" alt="">
            </a>
            <!-- navigation -->
            <ul class="flex space-x-6">
                <li><a href="./about.html">About</a></li>
                <li class="text-highlight"><a href="./blog2.html">Blog</a></li>
                <li>Contact</li>
            </ul>
        </nav>
    </header>
    <!-- header area end -->


    <!-- article area start -->
    <article class="container flex py-5 font-futurapt">
        <section class="w-3/4">
            <h1 class="text-dark text-6xl pl-8">Blog</h1>
            <section class="flex flex-wrap">
                <section class="md:w-1/3 p-10 text-success">
                    <img src="./assets/img/1.png" alt="">
                    <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                    <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                    <a class="border-b-2 border-danger inline-flex items-center">Read More
                    </a>
                </section>
                <section class="md:w-1/3 p-10 text-success">
                    <img src="./assets/img/1.png" alt="">
                    <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                    <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                    <a class="border-b-2 border-danger inline-flex items-center">Read More
                    </a>
                </section>
                <section class="md:w-1/3 p-10 text-success">
                    <img src="./assets/img/1.png" alt="">
                    <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                    <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                    <a class="border-b-2 border-danger inline-flex items-center">Read More
                    </a>
                </section>
                <section class="md:w-1/3 p-10 text-success">
                    <img src="./assets/img/1.png" alt="">
                    <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                    <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                    <a class="border-b-2 border-danger inline-flex items-center">Read More
                    </a>
                </section>
                <section class="md:w-1/3 p-10 text-success">
                    <img src="./assets/img/1.png" alt="">
                    <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                    <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                    <a class="border-b-2 border-danger inline-flex items-center">Read More
                    </a>
                </section>
                <section class="md:w-1/3 p-10 text-success">
                    <img src="./assets/img/1.png" alt="">
                    <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                    <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                    <a class="border-b-2 border-danger inline-flex items-center">Read More
                    </a>
                </section>
                <section class="md:w-1/3 p-10 text-success">
                    <img src="./assets/img/1.png" alt="">
                    <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                    <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                    <a class="border-b-2 border-danger inline-flex items-center">Read More
                    </a>
                </section>
                <section class="md:w-1/3 p-10 text-success">
                    <img src="./assets/img/1.png" alt="">
                    <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                    <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                    <a class="border-b-2 border-danger inline-flex items-center">Read More
                    </a>
                </section>
                <section class="md:w-1/3 p-10 text-success">
                    <img src="./assets/img/1.png" alt="">
                    <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                    <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                    <a class="border-b-2 border-danger inline-flex items-center">Read More
                    </a>
                </section>
            </section>
            <section class="ml-10 my-28 flex relative">
                <button class="flex bg-lightviolet bg-opacity-60 text-primary p-3 rounded mr-5">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                        </svg>
                    </span>
                    <span class="text-primary font-semibold"> Previous Page</span>

                </button>
                <button class="flex bg-danger opacity-70 p-3 rounded mr-5">
                    <span class="text-primary font-semibold">Next Page </span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 8l4 4m0 0l-4 4m4-4H3" />
                        </svg>
                    </span>
                </button>
                <section class="absolute flex items-center space-x-2 right-7 top-3">
                    <span>Page </span>
                    <span class="px-2 py-1 rounded-md border border-primary">1</span>
                    <span>of 12 </span>
                    <span class="px-2 py-1 rounded-md bg-danger"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                        </svg></span>
                    <span class="px-2 py-1 rounded-md bg-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </span>
                </section>
            </section>
        </section>
        <section class="text-dark w-1/4">
            <h3 class="text-2xl font-semibold">Search for Meaning</h3>
            <p class="opacity-50">I am seeing a number everywhere.</p>
            <label class="relative block mt-4">
                <span class="absolute text-primary inset-y-0 right-4 flex items-center pl-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </span>
                <input
                    class="placeholder:italic text-black placeholder:text-primary block bg-white w-full border border-gray-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
                    placeholder="Enter a number up to 9999" type="text" name="search" />
            </label>
            <section class="text-success">
                <h3 class="text-2xl font-semibold my-3">Recent Posts</h3>
                <p class="text-lg py-2 border-b border-gray-300 hover:text-highlight">3 Reasons Why You Are Seeing 813 –
                    The Meaning of 813</p>
                <p class="text-lg py-2 border-b border-gray-300 hover:text-highlight">3 Reasons Why You Are Seeing 813 –
                    The Meaning of 813</p>
                <p class="text-lg py-2 border-b border-gray-300 hover:text-highlight">3 Reasons Why You Are Seeing 813 –
                    The Meaning of 813</p>
                <p class="text-lg py-2 border-b border-gray-300 hover:text-highlight">3 Reasons Why You Are Seeing 813 –
                    The Meaning of 813</p>
                <p class="text-lg py-2 border-b border-gray-300 hover:text-highlight">3 Reasons Why You Are Seeing 813 –
                    The Meaning of 813</p>
            </section>
            <section class="text-success">
                <h3 class="text-2xl font-semibold my-3">Recent Posts</h3>
                <p class="text-lg py-2 border-b border-gray-300 hover:text-highlight">3 Reasons Why You Are Seeing 813 –
                    The Meaning of 813</p>
                <p class="text-lg py-2 border-b border-gray-300 hover:text-highlight">3 Reasons Why You Are Seeing 813 –
                    The Meaning of 813</p>
                <p class="text-lg py-2 border-b border-gray-300 hover:text-highlight">3 Reasons Why You Are Seeing 813 –
                    The Meaning of 813</p>
                <p class="text-lg py-2 border-b border-gray-300 hover:text-highlight">3 Reasons Why You Are Seeing 813 –
                    The Meaning of 813</p>
                <p class="text-lg py-2 border-b border-gray-300 hover:text-highlight">3 Reasons Why You Are Seeing 813 –
                    The Meaning of 813</p>
            </section>
        </section>

    </article>
    <!-- article area end -->

    <!-- contact area start  -->
    <section class="bg-main bg-cover bg-center bg-no-repeat py-24 px-72 text-white font-futurapt text-center"
        style="background-image: url(./assets/img/Frame16.png);">
        <section class="container px-10 py-9 bg-lightviolet bg-opacity-70 rounded-lg">
            <h1 class="italic text-2xl">Unlock the messages hidden in your Personality Code now with your FREE
                personalized
                video report.</h1>
            <section class="flex items-center justify-center">
                <label class="relative block mt-4 mr-2">
                    <span class="sr-only">Search</span>
                    <input class="placeholder:italic text-primary placeholder:text-primary block bg-white w-full
                        border border-gray-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none
                        focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Your email"
                        type="text" name="search" />
                </label>
                <button class="flex bg-danger text-primary relative mt-4 mr-2 px-5 py-2 rounded">
                    <span class="pr-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                        </svg></span><span>Send Us</span></button>
            </section>
        </section>
    </section>
    <!-- contact area end  -->


    <!-- footer area start -->
    <footer class="bg-secondary text-primary font-futurapt py-6">
        <nav class="flex items-center justify-between h-32 container px-10">
            <!-- social icons -->
            <ul class="flex text-dark text-xl space-x-6">
                <li><i class="fab fa-youtube"></i></li>
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-pinterest"></i></li>
            </ul>
            <!-- logo -->
            <a href="#home">
                <img class="h-24" src="./assets/img/Imaginova-Logo 1.png" alt="">
            </a>
            <!-- navigation -->
            <ul class="flex text-xl space-x-5 ">
                <li>Home</li>
                <li>Privacy Policy</li>
                <li>Book A Section</li>
            </ul>
        </nav>
        <p class="text-center -ml-24">© 2021 Imaginova. All Rights Reserved.</p>
    </footer>
    <!-- footer area end -->

</body>

</html>