<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <!-- header start -->
    {{ partial "header.html" . }}
    <!-- header end -->
    <!-- main area start -->
    <main class="bg-main bg-cover bg-center bg-no-repeat py-24 px-96 text-white font-futurapt text-center"
        style="background-image: url(./img/Rectangle7.png);">
        <h1 class="text-6xl">Search for Meaning</h1>
        <p class="text-lg">I am seeing <span class="bg-light text-danger rounded px-2 py-1">0000</span> everywhere...
        </p>
        <label class="relative block mt-4">
            <span class="sr-only">Search</span>
            <span class="absolute text-primary inset-y-0 right-4 flex items-center pl-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
            </span>
            <input
                class="placeholder:italic text-black placeholder:text-primary block bg-white w-full border border-gray-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
                placeholder="Search for anything..." type="text" name="search" />
        </label>
    </main>
    <!-- main area start -->

    <!-- article area start -->
    <article class="container py-5 font-futurapt">
        <h3 class="text-primary text-xl text-center">Latest Articles</h3>
        <section class="flex flex-wrap">
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/1.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/Group3.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/Group7.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/Group2.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/1.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/Group3.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/Group2.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/1.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/Group3.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
        </section>
    </article>
    <!-- article area end -->

    <!-- contact area start  -->
    <section class="bg-main bg-cover bg-center bg-no-repeat py-24 px-72 text-white font-futurapt text-center"
        style="background-image: url(./img/Frame16.png);">
        <section class="container px-10 py-9 bg-lightviolet bg-opacity-70 rounded-lg">
            <h1 class="italic text-2xl">Unlock the messages hidden in your Personality Code now with your FREE
                personalized
                video report.</h1>
            <section class="flex items-center justify-center">
                <label class="relative block mt-4 mr-2">
                    <span class="sr-only">Search</span>
                    <input class="placeholder:italic text-primary placeholder:text-primary block bg-white w-full
                        border border-gray-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none
                        focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Your email"
                        type="text" name="search" />
                </label>
                <button class="flex bg-danger text-primary relative mt-4 mr-2 px-5 py-2 rounded">
                    <span class="pr-1"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                        </svg></span><span>Send Us</span></button>
            </section>
        </section>
    </section>
    <!-- contact area end  -->

    <!-- article area start -->
    <article class="container py-5 font-futurapt">
        <section class="flex flex-wrap">
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/1.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/1.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/1.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/1.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/1.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
            <section class="md:w-1/3 p-10 text-success">
                <img src="./img/1.png" alt="">
                <h2 class="mt-2 text-3xl">5 Reasons Why You Are Seeing 1213 – The Meaning of 1213</h2>
                <h6 class="text-sm title-font font-medium text-gray-400 py-3">May 21,2021</h6>
                <a class="border-b-2 border-danger inline-flex items-center">Read More
                </a>
            </section>
        </section>
    </article>
    <!-- article area end -->

    <!-- footer area start -->
    {{ partial "footer.html" . }}
    <!-- footer area end -->

</body>

</html>